- @title = "Technology"
- @summary = "Musings, notes, and background information on various technology issues that relate to LEAP."

%p Musings, notes, and background information on various technology issues that relate to LEAP.

= child_summaries